//====================================================================================================
.hello {
  &__container {
    display: flex;
  }

  &__content {

  }

  &__title {

  }

  &__text {

  }

  &__btn {

  }

  &__avavtar {
    flex: 0 0 243px;
    height: 243px;
    border-radius: 50%;
    overflow: hidden;
    img {
      max-width: 100%;
    }
  }
}
//====================================================================================================
