//====================================================================================================
.hello {
  padding: 38px 0px 70px 0px;
  @media (max-width: $md1+px) {
    padding: 0px 0px 70px 0px;
  }
  @media (max-width: $md3+px) {
    padding: 0px 0px 60px 0px;
  }

  &__container {
    display: flex;
    @media (max-width: $md3+px) {
      text-align: center;
      flex-direction: column-reverse;
    }
  }

  &__content {
    align-items: flex-start;
    padding: 18px 110px 0px 0px;
    flex: 1 1 auto;
    *:last-child {
      margin-bottom: 0;
    }
    @media (max-width: $md1+px) {
      padding: 18px 50px 0px 0px;
    }
    @media (max-width: $md3+px) {
      padding: 0px 0px 0px 0px;
    }
  }

  &__title {
    margin: 0px 0px 25px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 20px 0px;
    }
  }

  &__text {
    margin: 0px 0px 35px 0px;
    @media (max-width: $md3+px) {
      padding: 0px 15px;
      margin: 0px 0px 25px 0px;
    }
  }

  &__btn {
    margin: 0px 0px 25px 0px;
    @media (max-width: $md3+px) {
      margin: 0px 0px 20px 0px;
    }
  }

  &__avatar {
    flex: 0 0 243px;
    height: 243px;
    position: relative;
    border-radius: 50%;
    box-shadow: -5px 13px 0px 0px #EDF7FA;
    //overflow: hidden;
    img {
      max-width: 100%;
    }
    @media (max-width: $md3+px) {
      width: 170px;
      height: 170px;
      margin: 0px 0px 40px 0px;
    }
  }
}
//====================================================================================================
.recent-posts {
  background: #EDF7FA;
  padding: 25px 0px 30px 0px;
  &__container {

  }

  &__header {

  }

  &__title {

  }

  &__view-all {

  }

  &__items {

  }

  &__column {

  }

  &__item {

  }
}
//====================================================================================================
